[Install]
WantedBy=timers.target

[Unit]
#Starts the restart scheduling function to determine what type of reboot is needed.
Description=Zomboid Restart Schedular Service

[Service]
ExecStart=/usr/bin/python3 %h/zcore/zomboid_core.py restart -sc

[Install]
WantedBy=multi-user.target