[Unit]
#Generates a report of information from the server if the core starter fails more than twice. 
Description=Zomboid Crash Report Service

[Service]
WorkingDirectory=%h/zcore
ExecStart=/usr/bin/python3 %h/zcore/zomboid_core.py --report

[Install]
WantedBy=multi-user.target
