[Unit]
Description=Runs the notify script to gather info and send it to discord.

[Service]
WorkingDirectory=%h/zcore
ExecStart=/usr/bin/python3 %h/zcore report

[Install]
WantedBy=multi-user.target
