[Unit]
Description=Generates a report of information from the server if the core starter fails more than twice. 

[Service]
WorkingDirectory=%h/zcore
ExecStart=/usr/bin/python3 %h/zcore --report

[Install]
WantedBy=multi-user.target
