[Install]
WantedBy=timers.target

[Unit]
Description=pzserver restart, backup, and modupdate script.

[Service]
ExecStart=/usr/bin/python3 %h/Server-Core/tools/tools_restart.py

[Install]
WantedBy=multi-user.target