[Unit]
Description=timer to run the reboot service

[Timer]
OnCalendar=*:0,10,20,30,40,50
Unit=zomboid_reboot.service

[Install]
WantedBy=timers.target
