[Unit]
Description=Runs the notify script to gather info and send it to discord.

[Service]
WorkingDirectory=%h/zcore/tools
ExecStart=/usr/bin/python3 %h/zcore/tools/tools_report.py

[Install]
WantedBy=multi-user.target
