[Unit]
Description=Project Zomboid Server
StartLimitIntervalSec=300
StartLimitBurst=2
OnFailure=apa_notify.service

[Service]
Type=forking
WorkingDirectory=~
ExecStart=~/pz-lgsm/pzserver start
ExecStop=~/pz-lgsm/pzserver stop
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
